---
version: "3"

services:
  mongodbservice:
    image: hanwuji99/mongo:latest
    container_name: mongodb_container
    hostname: mongodbservice
    ports:
      - "27017:27017"
    expose:
      - "27017"
    restart:  always
    networks:
      - servicenet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]

  collectionservice:
    image: hanwuji99/microservice30_collectionservice:latest
    volumes:
       - .:/var/www/microservice3.0/collectionservice
    container_name: collection_app
    hostname: collectionservice
    depends_on:
        - mongodbservice
    ports:
      - "5004:5004"
    expose:
      - "5004"
    restart:  always
    networks:
      - servicenet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == worker]

  userservice:
    image: hanwuji99/microservice30_userservice:latest
    volumes:
      - .:/var/www/microservice3.0/userservice
    container_name: user_app
    hostname: userservice
    depends_on:
        - mongodbservice
    ports:
      - "5000:5000"
    expose:
      - "5000"
    restart:  always
    networks:
      - servicenet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == worker]

networks:
  servicenet:
    driver: overlay

