---
version: "3"

services:
  mongodbservice:
    image: mongo
    container_name: mongodb_container
    ports:
      - "27017:27017"
    restart:  always

  collectionservice:
    build:
        context: ./collectionservice/
        dockerfile: Dockerfile
    volumes:
       - .:/var/www/microservice3.0/collectionservice
    container_name: collection_app
    depends_on:
        - mongodbservice
    ports:
      - "5004:5004"
    expose:
      - "5004"
    restart:  always
    networks:
      - servicenet
  userservice:
    build:
        context: ./userservice/
        dockerfile: Dockerfile
    volumes:
      - .:/var/www/microservice3.0/userservice
    container_name: user_app
    depends_on:
        - mongodbservice
    ports:
      - "5000:5000"
    expose:
      - "5000"
    restart:  always
    networks:
      - servicenet

  movieservice:
    build:
        context: ./movieservice/
        dockerfile: Dockerfile
    volumes:
      - .:/var/www/microservice3.0/movieservice
    container_name: movie_app
    depends_on:
        - mongodbservice
    ports:
      - "5001:5001"
    expose:
      - "5001"
    restart:  always
    networks:
      - servicenet
networks:
  servicenet:
    driver: overlay

