---
version: "2"

services:
  userservice:
    build: .
    volumes:
      - .:/var/www/userservice
    container_name: user_app
    depends_on:
        - mongodbservice
    ports:
      - "5000:5000"
    expose:
      - "5000"
    restart:  always
    network_mode: overlay
  mongodbservice:
    image: mongo
    container_name: mongodb_container
    ports:
      - "27017:27017"
    restart:  always
    network_mode: overlay

