---
version: "2"

services:
  mongodbservice:
    image: mongo
    container_name: mongodb_container
    ports:
      - "27017:27017"
    restart:  always
  collectionservice:
    build: .
    volumes:
       - .:/var/www/collectionservice
    container_name: collection_app
    depends_on:
        - mongodbservice
    hostname: collectionservice
    ports:
      - "5004:5004"
    expose:
      - "5004"
    restart:  always
    network_mode: "overlay"

